.leads {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.leads-header {
	width: 45%;
	max-width: 17rem;
}

.leads-header h1 {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 2.5rem;
	background: var(--navBarColor);
	color: white;
	padding: .5em 1em;
	border-radius: 15%;
}

.lead-icon {
	font-size: 1.875rem;
	color: var(--cardColorComplement)
}

.lead-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.lead-buttons button {
	border: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .2em .3em;
}

.lead-buttons button:hover {
	border: 1px solid white;
}

.new-lead {
	display: flex;
	justify-content: center;
}

.new-lead button {
	margin: 1em 0;
}

.lead-modal {
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	max-width: 45rem;
	z-index: 10;
	position: fixed;
	padding-top: 10em;
}

.lead-content {
position: relative;
	overflow: hidden;
	border-radius: 4px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.lead-form {
	padding: 2em 2.5em;
	background-color: white;
	max-height: calc(100vh - 20rem);
  overflow-y: auto;
}

.all-leads {
	width: 100%;
	max-width: 62.5rem;
	margin-bottom: 2em;
}

.lead-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 20rem);
	gap: 1em;
}

.lead-card {
	background: var(--cardColor);
	padding: 1.25rem;
	border-radius: .25rem;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
}

.lead-card:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	transform: scale(1.01);
}

.lead-name {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.this-name {
	font-weight:bold;
	font-size: 1.5rem;
}

.lead-company-position {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.lead-contacts {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}


