.sign-container {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
	width: 800px;
	max-width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
	border-radius: 5px;
	background-color: white;
	overflow: hidden;
}

.sign-header {
	background-color: rgb(150,150,150);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
}

.sign-header h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.sign-form {
	padding: 30px 40px;
}

.switcher {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.switcher-vert {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.switcher button {
	font-size: 16px;
	padding: 3px 5px;
	border: 1px solid transparent;
	background-color: white;
}

.switcher button:hover {
	border: 1px solid black;
}

.password-reset {
	display: flex;
	justify-content: flex-end;
	margin-top: -35px;
}

.password-reset form {
	width: 80%;
	padding: 30px 40px;
	display: inline-flex;
}

.password-reset button {
	font-size: 17px;
	padding: 3px 5px;
	color: white;
	background-color: rgb(53,116,179);
	border: 1px solid rgb(53,116,179);
}

.password-reset button:hover {
	color: rgb(53,116,179);
	background-color: white;
}


