/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

span {
	font-size: 18px;
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

body {
	background-color: rgb(211,211,211);
	padding-left: 220px;
}

a {
	text-decoration: none;
	color: black;
}

label {
	display: inline-block;
	margin-bottom: 5px;
}

input, textarea {
	border: 2px solid rgb(220,220,220);
	border-radius: 4px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

button {
	cursor: pointer;
	border-radius: 4px;
}

/*Navbar */

nav {
	position: fixed;
	top: 0;
	z-index: 2;
}

div {
	border-radius: 4px;
}

.navigation {
	height: 100%;
	background-color: rgb(53,116,179);
	position: fixed;
	width: 200px;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.nav-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid rgba(150,150,150,.3);
}

.nav-header h1 {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.navbar li {
	height: 46px;
	width: 100%;
	text-align: center;
	line-height: 46px;
	font-size: 1.2rem;
	font-weight: bold;
	border-bottom: 2px solid rgba(150,150,150,.3);
}

.navbar li:hover {
	background-color: rgba(150,150,150,.3);
}

.navbar a {
	color: white;
}


/* Sign out button */

.signout {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
	margin-right: 8px;
}

.signout button {
	border: 1px solid transparent;
	background-color: rgb(211,211,211);
	padding: 3px 5px;
}

.signout button:hover {
	border: 1px solid black;
}

/* Alert Bar */
.alert {
	background-color: rgb(136,8,8);
	color: white;
	font-size: 1.5rem;
	padding: 10px 15px;
	margin-left: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
