/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--navBarColor: linear-gradient(to bottom,rgb(53,116,179), rgb(102,153,204));
	--cardColor: radial-gradient(rgb(102,153,204), rgb(53,116,179));
	--cardColorComplement: rgb(204,141,102);
	--genericButton: rgb(0,0,0);
	--warning: rgb(122,8,8)
}

span {
	font-size: 18px;
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

body {
	background-color:silver;
	background-image:
		radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
		radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
		radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
	background-size: 100px 50px;
	padding-left: 220px;
}

a {
	text-decoration: none;
	color: var(--genericButton);
}

label {
	display: inline-block;
	margin-bottom: 5px;
}

input, textarea {
	border: 2px solid rgb(220,220,220);
	border-radius: 4px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

button {
	cursor: pointer;
	border-radius: 4px;
}

/*Navbar */

nav {
	position: fixed;
	top: 0;
	z-index: 2;
}

div {
	border-radius: 4px;
}

.modal-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.navigation {
	height: 100%;
	background: var(--navBarColor); 	
	position: fixed;
	width: 200px;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.nav-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid rgba(150,150,150,.3);
}

.nav-header h1 {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.navbar li {
	height: 46px;
	width: 100%;
	text-align: center;
	line-height: 46px;
	font-size: 1.2rem;
	font-weight: bold;
	border-bottom: 2px solid rgba(150,150,150,.3);
}

.navbar li:hover {
	background-color: rgba(150,150,150,.3);
}

.navbar a {
	color: white;
}

/* Sign out button */

.signout {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
	margin-right: 8px;
}

.signout button {
	border: 1px solid transparent;
	background-color: transparent;
	padding: 3px 5px;
}

.signout button:hover {
	border: 1px solid var(--genericButton);
}

/* Alert Bar */
.alert {
	background-color: rgb(136,8,8);
	color: white;
	font-size: 1.5rem;
	padding: 10px 15px;
	margin-left: -20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Warning modal */
.warning-card {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.warning-container {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 30px 40px;
	background-color: white;
	border-radius: 0 0 4px 4px;
}

.warning-header {
	height: 36px;
	border-bottom: 1px solid var(--cardColorComplement);
	background-color: var(--cardColorComplement);
	border-radius: 4px 4px 0 0;
}

.options {
	display: flex;
	justify-content: center;
}

.options button {
	font-size: 17px;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: var(--genericButton);
	border: 1px solid var(--genericButton);
	color: white;
	margin-top: 16px;
}

.options button:hover {
	background-color: white;
	color: var(--genericButton);
}

.warning-cancel {
	margin-right: 5px;
}

.warning-confirm {
	margin-left: 5px;
}
