.files-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.files-header h1 {
	font-size: 3rem;
	font-weight: bold;
	background: var(--navBarColor);
	color: white;
	border-radius: 15%;
	padding: 30px 40px;
	margin-bottom: 16px;
}

.documents-body {
	display: flex;
	justify-content: center;
}

.file-uploader {
	background: var(--cardColor);
	padding: 30px 40px;
	width: 90%;
}

.file-uploader label {
	font-size: 17px;
	font-weight: bold;
}

.form-input {
	margin-bottom: 32px;
}

.file-submitter {
	font-size: 1.5rem;
	padding: 5px 10px;
	width: 100%;
	background: var(--warning);
	border: 1px solid var(--warning);
	color: white;
	font-weight: bold;
}

.file-submitter button:hover {
	color: var(--warning);
	background: white;
}

.upload-section {
	pointer-events: none;
}

.file-selector {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.button-like {
	font-size: 1rem;
	width: 5%;
	background-color: black;
	border: 1px solid black;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	pointer-events: auto;
	cursor: pointer;
}

.button-like:hover {
	color: black;
	background-color: white;
}


.selected-file {
	margin-bottom: 8px;
}

/*files*/

.all-documents {
	display: flex;
	justify-content: center;
	padding-top: 16px;
}

.document-container {
	background: var(--cardColor);
	padding: 30px 40px;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	max-width: 100%;
}

.each-file {
	background-color: white;
	border: 2px solid black;
}

.file-header {
	background-color: rgb(215,215,215);
	height: 64px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.file-header button {
	background: transparent;
	border: 1px solid transparent;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
}

.file-header button:hover {
	border: 1px solid black;
}

.file-header h2 {
	font-weight: bold;
	font: 24px;
}

.file-body {
	padding: 10px 20px;
}

.file-download {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.file-download a {
	color: white;
	background-color: black;
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: bold;
}

.file-download a:hover {
	color: black;
	background-color: white;
}

