/* Sign out button */

.signout {
	display: flex;
	justify-content: flex-end;
	margin-top: .5em;
	margin-right: .5em;
}

.signout button {
	border: 1px solid transparent;
	background-color: transparent;
	padding: .3em .5em;
}

.signout button:hover {
	border: 1px solid var(--genericButton);
}
