.warning-card {
	z-index: 100;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.warning-container {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 2em 2.5em;
	background-color: white;
	border-radius: 0 0 4px 4px;
}

.warning-header {
	padding: 1em 0;
	border-bottom: 1px solid var(--cardColorComplement);
	background-color: var(--cardColorComplement);
	border-radius: 4px 4px 0 0;
}

.options {
	display: flex;
	justify-content: center;
}

.options button {
	font-size: 1rem;
	padding: .3em .5em;
	border-radius: 4px;
	background-color: var(--genericButton);
	border: 1px solid var(--genericButton);
	color: white;
	margin: 0 .5em;
	margin-top: 2em;
}

.options button:hover {
	background-color: white;
	color: var(--genericButton);
}

