.warning-card {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.warning-container {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 30px 40px;
	background-color: white;
	border-radius: 0 0 4px 4px;
}

.warning-header {
	height: 36px;
	border-bottom: 1px solid var(--cardColorComplement);
	background-color: var(--cardColorComplement);
	border-radius: 4px 4px 0 0;
}

.options {
	display: flex;
	justify-content: center;
}

.options button {
	font-size: 17px;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: var(--genericButton);
	border: 1px solid var(--genericButton);
	color: white;
	margin-top: 16px;
}

.options button:hover {
	background-color: white;
	color: var(--genericButton);
}

.warning-cancel {
	margin-right: 5px;
}

.warning-confirm {
	margin-left: 5px;
}
