.appointments {
	padding: 30px 40px;
}
.appointments-header {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 32px;
}

.appointments-header h1 {
	font-size: 3rem;
	font-weight: bold;
	background: var(--navBarColor);
	color: white;
	padding: 30px 40px;
	border-radius: 15%;
}

.new-appointment {
	display: flex;
	justify-content: center;
	margin-bottom: 18px;
}

.modal-button {
	font-size: 16px;
	padding: 5px 10px;
	border: 5px solid var(--warning);
	background: var(--warning);
	color: white;
}

.modal-button:hover {
	background-color: white;
	color: var(--warning);
}

.appointments-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100%;
	grid-gap: 20px;
}
.appointment-card {
	padding: 40px 60px;
	background: var(--cardColor);
}

.company-title {
	display: flex;
	justify-content: center;
}

.company-title h2 {
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
}

.alt-title h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.street {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 16px;
	margin-top: 16px;
}

.city-info, .country-row, .contact-information {
	display: flex;
	justify-content: space-around;
	margin-bottom: 16px;
}

.notes {
	display: flex;
	justify-content: flex-start;
}

.notes p {
	font-size: 17px;
}


.show-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}

.title-meeting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 16px;
}

.link-appointment a {
	color: white;
	background: var(--genericButton);
	padding: 3px 10px;
	border-radius: 4px;
	font-weight: bold;
	border: 3px solid var(--genericButton);
}

.link-appointment a:hover {
	color: var(--genericButton);
	background-color: white;
}

.delete-button {
	display: flex;
	justify-content: flex-end;
}

.delete-button button {
	color: var(--cardColorComplement);
	background-color: transparent;
	border: 2px solid transparent;
	padding: 3px 5px;
}

.delete-button button:hover {
	border: 2px solid white;
}

.attribute {
	font-size: 17px;
}

/*New Appointment modal */

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	transition: 200ms ease-in-out;
	width: 800px;
	max-width: 100%;
	background-color: white;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(127,127,127);
	border-bottom: rgb(240,240,240);
	padding: 20px 30px;
	border-radius: 4px 4px 0 0;
}

.header h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

.close-button button {
	border: none;
	background-color: rgb(127,127,127);
	color: var(--genericButton);
	font-size: 1.5rem;
	font-weight: bold;
	border: 2px solid transparent;
}

.close-button button:hover {
	border: 2px solid white;
	background-color: rgb(127,127,127);
}

.appointment-form {
	padding: 30px 40px;
}

.field {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.submit {
	background-color: var(--warning);
	border: 2px solid var(--warning);
	color: white;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.submit:hover {
	background-color: white;
	color: var(--warning);
}

/* for searching */

.leads-search {
	background: var(--manila);
	padding: 5px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0;
}

