.files-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.files-header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 17rem;
}

.files-header h1 {
	max-width: 20rem;
	font-size: 2.5rem;
	font-weight: bold;
	background: var(--navBarColor);
	color: white;
	border-radius: 15%;
	padding: .3em .5em;
	margin-bottom: 1em;
}

.documents-body {
	display: flex;
	justify-content: center;
}

.file-uploader {
	background: var(--cardColor);
	padding: 2em 2.5em;
	width: 80%;
	max-width: 62.5rem;
}

.file-uploader label {
	font-size: 1rem;
	font-weight: bold;
}

.form-input {
	margin-bottom: 2em;
}

.file-submitter {
	font-size: 1rem;
	padding: .3em .6em;
	background: var(--warning);
	border: 1px solid var(--warning);
	color: white;
}

.file-submitter:hover {
	color: var(--warning);
	background: white;
}

.upload-section {
	pointer-events: none;
}

.file-selector {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.button-like {
	font-size: 1rem;
	width: 5%;
	color: white;
	padding: .3em .6em;
	border-radius: .25rem;
	pointer-events: auto;
	cursor: pointer;
}

.button-like:hover {
	color: black;
}



.selected-file {
	margin-bottom: .5rem;
}

/*files*/

.all-documents {
	display: flex;
	justify-content: center;
	padding-top: 1em;
	width: 100%;
}

.documents-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 10rem);
	gap: 1em;
}

.document-container {
	background: var(--cardColor);
	padding: 2em 2.5em;
	width: 80%;
	max-width: 62.5rem;
	margin-bottom: 1.5em;
}

.each-file {
	background-color: white;
	border: 2px solid black;
}

.file-header {
	background-color: rgb(215,215,215);
	height: 4rem;
	padding: .3125rem .625rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.file-header button {
	background: transparent;
	border: 1px solid transparent;
	font-size: 1rem;
	font-weight: bold;
	border-radius: .25rem;
}

.file-header button:hover {
	border: 1px solid black;
}

.file-header h2 {
	font-weight: bold;
	font: 1.5rem;
}

.file-body {
	padding: .625rem 20px;
}

.file-download {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.file-download a {
	color: white;
	background-color: black;
	border: 1px solid black;
	border-radius: 4px;
	padding: .3125rem .625rem;
	font-weight: bold;
}

.file-download a:hover {
	color: black;
	background-color: white;
}

