.sign-container {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
	width: 40%;
	min-width: 2rem;
	border-radius: .25rem;
	background-color: white;
}

.sign-header {
	background-color: rgb(150,150,150);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .25rem .25rem 0 0;
	padding: 1rem 0;
}

.sign-header h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.sign-form {
	padding: 1.875rem 2.5rem;
}

.switcher {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.switcher-vert {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.switcher button {
	font-size: 1rem;
	padding: .1875rem .3125rem;
	border: 1px solid transparent;
	background-color: white;
}

.switcher button:hover {
	border: 1px solid black;
}

.password-reset {
	display: flex;
	justify-content: flex-end;
	margin-top: -2.1875;
}

.password-reset form {
	width: 70%;
	padding: 1.875rem 2.5rem;
	display: flex;
	flex-direction: column;
}

.reset {
	display: flex;
	justify-content: flex-end;
}

.reset button {
	font-size: 1rem;
	padding: .1875rem .3125rem;
	color: white;
	background-color: rgb(53,116,179);
	border: 1px solid rgb(53,116,179);
}

.reset button:hover {
	color: rgb(53,116,179);
	background-color: white;
}

.password-change {
	width: 80%;
	padding: 30px 40px;
}

.password-change input {
	margin-bottom: 8px;
}

.password-change button {
	font-size: 1.5rem;
	width: 100%;
	color: white;
	background-color: rgb(53, 116, 179);
	border: 1px solid rgb(53,116,179);
	padding: 10px 1.3125rem;
}

.password-change button:hover {
	color: rgb(53,116,179);
	background-color: white;
}


